@import "tailwindcss";

body {
  user-select: none;
  cursor: default;
}

input, textarea {
  user-select: text;
  cursor: text;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}